@mobile-widths: e("(max-width: 900px)");

html, body {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  box-sizing: border-box;
  user-select: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.overall-wrapper {
  max-width: 900px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 100vh;
  background-color: @icon-bg-color;
  box-shadow: 0 0 20px 0 #777777;
}

h1 {
  margin: 0 10px;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  color: #555555;
  text-shadow: 2px 2px 5px #777777;
}

.vendor {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: #555555;

  &__link {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px dotted #000000;

    &:hover {
      border-bottom: none;
    }

    &:active {
      transition-property: opacity;
      transition-duration: 0.5s;
      opacity: 0.5;
    }

    @media @mobile-widths {
      cursor: default;

      &:hover {
        border-bottom: 1px dotted #000000;
      }

      &:active {
        border-bottom: none;
        transition-property: opacity;
        transition-duration: 0.5s;
        opacity: 0.5;
      }
    }
  }
}

.icon-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;

  &__item {
    margin: 10px;
    box-shadow: 2px 2px 5px 0 #999999;

    @media @mobile-widths {
      margin: 5px;
    }
  }

  &__figure {
    margin: 0;
    padding-top: 10px;
    .icon-size(@icon-size * 2, auto);
  }

  &__link {
    .icon-size();
    display: block;
    position: relative;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0 auto;
    //outline: 1px solid red;

    &:hover {
      transition-property: transform;
      transition-duration: 0.5s;
      transform: scale(1.2);
    }

    &:active {
      transition-property: transform, opacity;
      transition-duration: 0.5s;
      transform: scale(0.8);
      opacity: 0.5;
    }

    @media @mobile-widths {
      cursor: default;

      &:hover {
        transform: none;
      }

      &:active {
        transition-property: transform, opacity;
        transition-duration: 0.5s;
        transform: scale(0.5);
        opacity: 0.5;
      }
    }
  }

  &__description {
    text-align: center;
    display: block;
    font-size: 10px;
    color: #555555;
    background-color: #cccccc;
    margin-top: 10px;
  }
}

